.idea
Memo*
Task*
Link*
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Link_2017-02-01_21-24-1485973482.txt
Memo_2017-02-01_21-27-20.txt
Memo_2017-02-01_21-31-25.txt
Task_2017-02-01_21-28-51.txt
Task_2017-02-01_21-30-13.txt
Task_2017-02-01_21-42-22.txt
Task_2017-02-01_21-43-16.txt
Task_2017-02-01_21-43-33.txt
Task_2017-02-01_21-45-06.txt
